<div class="container" *ngIf="!isLoaded">

  <div class="header">
    <h3>Player {{activePlayer + 1}}</h3>
    <div>Count Rolls: {{countRoll}}</div>
  </div>


  <div  class="dices">
    <ng-container *ngFor="let dice of dices; let i = index">
      <div (click)="selectDice(dice)" >
        <ng-container  *ngIf="dice" [ngTemplateOutlet]="templates[i]" [ngTemplateOutletContext]="{index: i}"   ></ng-container>
      </div>
    </ng-container>
  </div>

  <div class="evaluation">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Player 1</th>
        <th>Player 2</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody *ngIf="evaluations && evaluations.length">
      <tr *ngFor="let evaluation of evaluations">
        <td>{{evaluation.name}}</td>
        <ng-container *ngFor="let points of evaluation.points">
          <td>{{points}}</td>
        </ng-container>
        <td>
          <button color="primary" mat-raised-button (click)="addPoints(evaluation, activePlayer)" [disabled]="disabledSelect(evaluation, activePlayer)">Select</button>

        </td>
        <td>
          <button color="primary" mat-raised-button *ngIf="!evaluation.isSelectDisabled[activePlayer]">Swipe away</button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <td>Summary</td>
      <ng-container *ngFor="let summaryPlayerPoint of summaryPlayersPoints">
        <td>{{summaryPlayerPoint}}</td>
      </ng-container>
      </tfoot>

    </table>
  </div>

  <div class="footer">
    <button (click)="onRoll()" color="primary" mat-raised-button [disabled]="countRoll === 0">Roll</button>
    <button (click)="switchPlayer()" mat-raised-button color="primary" >Switch Player</button>
    <button (click)="restart(); initialize();" mat-raised-button color="primary" >Restart</button>
  </div>


</div>

<ng-template #zero>
  <div class="dice"></div>
</ng-template>

<ng-template #one let-index="index">
  <div class="dice first-face" [ngClass]="setClass(index)">
    <span class="dot">
    </span>
  </div>
</ng-template>

<ng-template #two let-index="index">
  <div class="second-face dice" [ngClass]="setClass(index)">
    <span class="dot">
    </span>
    <span class="dot">
    </span>
  </div>
</ng-template>

<ng-template #three let-index="index">
  <div class="third-face dice" [ngClass]="setClass(index)">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</ng-template>

<ng-template #four let-index="index">
  <div class="fourth-face dice" [ngClass]="setClass(index)">
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</ng-template>
<ng-template #five let-index="index">
  <div class="fifth-face dice" [ngClass]="setClass(index)">


    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="column">
      <span class="dot"></span>
    </div>

    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>
</ng-template>
<ng-template #six let-index="index">
  <div class="sixth-face dice" [ngClass]="setClass(index)">
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>

</ng-template>
