<div *ngIf="!isLoaded" class="container">

  <div class="header">
    <h3>Player {{activePlayer + 1}}</h3>
    <div>Count Rolls: {{countRoll}}</div>
  </div>


  <div class="dices" *ngIf="!gameOver && playerSettings">
    <ng-container *ngFor="let dice of gameService.getDices(); let i = index">
      <div (click)="selectDice(dice)">
        <ng-container *ngIf="dice" [ngTemplateOutletContext]="{index: i}"
                      [ngTemplateOutlet]="templates[i]"></ng-container>
      </div>
    </ng-container>
  </div>

  <div class="" *ngIf="!playerSettings">
    <mat-form-field>
      <input type="number" matInput placeholder="Count players?" [formControl]="countPlayers" />
    </mat-form-field>
    <button color="primary" mat-raised-button (click)="playerSettings = !playerSettings">Set</button>
  </div>

  <div *ngIf="playerSettings && gameOver">
    <h2>Winner is: {{getPlayerWinner()}}</h2>
  </div>

  <div class="evaluation">
    <table>
      <thead>
      <tr>
        <th></th>
        <th *ngFor="let player of players;">Player {{player}}</th>

        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody *ngIf="evaluations && evaluations.length">
      <tr *ngFor="let evaluation of evaluations">
        <td>{{evaluation.name}}</td>
        <ng-container *ngFor="let player of evaluation.players">
          <td>{{player.point}}</td>
        </ng-container>
        <td>
          <button (click)="addPoints(evaluation)" [disabled]="disabledSelect(evaluation)" color="primary"
                  mat-raised-button>Select
          </button>

        </td>
        <td>
          <button (click)="swipeAway(evaluation)" *ngIf="!evaluation.players[activePlayer].isSelectDisabled" color="primary"
                  mat-raised-button>Swipe away
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>Summary</td>
        <ng-container *ngFor="let summaryPlayerPoint of summaryPlayersPoints">
          <td>{{summaryPlayerPoint}}</td>
        </ng-container>
        <td></td>
        <td></td>
      </tr>
      </tfoot>

    </table>
  </div>

  <div class="footer">
    <button (click)="onShakeRoll()" [disabled]="countRoll === 0 ||!playerSettings" color="primary" mat-raised-button> {{isShake ? 'Shake' : 'Roll'}}</button>
    <button (click)="switchPlayer()" color="primary" mat-raised-button [disabled]="switchPlayerDisabled">Switch Player</button>
    <button (click)="initialize();" color="primary" mat-raised-button>Restart</button>
  </div>


</div>

<ng-template #zero>
  <div class="dice"></div>
</ng-template>

<ng-template #one let-index="index">
  <div [ngClass]="setClass(index)" class="dice first-face">
    <span class="dot">
    </span>
  </div>
</ng-template>

<ng-template #two let-index="index">
  <div [ngClass]="setClass(index)" class="second-face dice">
    <span class="dot">
    </span>
    <span class="dot">
    </span>
  </div>
</ng-template>

<ng-template #three let-index="index">
  <div [ngClass]="setClass(index)" class="third-face dice">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</ng-template>

<ng-template #four let-index="index">
  <div [ngClass]="setClass(index)" class="fourth-face dice">
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</ng-template>
<ng-template #five let-index="index">
  <div [ngClass]="setClass(index)" class="fifth-face dice">


    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="column">
      <span class="dot"></span>
    </div>

    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>
</ng-template>
<ng-template #six let-index="index">
  <div [ngClass]="setClass(index)" class="sixth-face dice">
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>

</ng-template>
